
@{
    ViewData["Title"] = "About";
}
<div class="container text-center">
    <h1>About Us</h1>

</div>

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
</head>
<body>
    <div >
        <h4 >How does TravelGuide work?</h4> <br>
        <h5 >
            TravelGuide is an online marketplace for booking tours, attractions, excursions, and countless other things to do on your
            next vacation or weekend adventure. We work together with selected activity providers from all over the world. The activity
            providers are the ones offering the activities.You can book your activity online, using our website.
        </h5>
        <br>
        <h4 >What does TravelGuide offer?</h4> <br>
        <h5 >
            We offer a variety of unforgettable travel experiences. If you want an organized trip, with included transport and a
            well-trained guide, who will tell you everything he knows about the visited tourist attractions, book a package offered by us. A package contains a guided tour and accommodation for two nights.
        </h5>
    </div>

</body>
</html>

